{% extends 'navbar.html' %}

{% load static %}

{% block title %}
About Us
{% endblock %}


{% block body %}

<section>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-12">
                <center><h3 class="header" style="color: blueviolet;">About Us</h3></center>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h5 style="color: rgb(0, 0, 0);">Welcome to TechMate !</h5>
                <p class="text-body" style="text-align:justify;">
                    At TechMate, we are passionate about harnessing the power of technology to transform businesses and drive innovation. 
                    With a commitment to excellence and a team of highly skilled professionals, 
                    we provide comprehensive IT solutions tailored to meet the unique needs of our clients.
                 
                </p>
                <h6 style="color: rgb(0, 0, 0);">Our Story:</h6>
                <p class="text-body" style="text-align:justify;">
                    Founded in [2010], TechMate has been at the forefront of the IT industry,
                    delivering cutting-edge solutions to businesses of all sizes across various sectors. 
                    Over the years, we have built a strong reputation for our technical expertise, 
                    customer-centric approach, and ability to deliver successful outcomes.
                 
                </p>
                <h6 style="color: rgb(0, 0, 0);">Our Mission:</h6>
                <p class="text-body" style="text-align:justify;">
                    Our mission is to empower organizations with advanced technological solutions that streamline operations, 
                    enhance productivity, and drive growth. We believe that by leveraging the latest tools and strategies, 
                    businesses can achieve their full potential and stay ahead in today's competitive landscape.
                 
                </p>
                <h6 style="color: rgb(0, 0, 0);">Our Values:</h6>
                <p class="text-body" style="text-align:justify;">
                    <ul style="text-align: justify;">
                        <li>Excellence: We strive for excellence in everything we do, consistently delivering high-quality solutions and exceptional customer service.</li>
                        <li>Innovation: We embrace innovation and continuously explore new technologies and methodologies to stay at the forefront of the industry.</li>
                        <li>Collaboration: We believe in fostering strong partnerships with our clients, working closely together to achieve shared goals and drive success.</li>
                        <li>Integrity: We operate with honesty, transparency, and integrity, building trust and long-term relationships with our clients.</li>
                    </ul>
                                     
                </p>
                <h6 style="color: rgb(0, 0, 0);">Our Services:</h6>
                <p class="text-body" style="text-align:justify;">
                    At TechMate, we offer a comprehensive range of IT services to address various business needs. Our expertise includes:
                    <ul style="list-style: square; text-align: justify;">
                        <li>Software Development: We design and develop customized software solutions that align with your unique requirements, helping you streamline processes, improve efficiency, and drive business growth.</li>
                        <li>Web and Mobile Applications: Our team of skilled developers creates intuitive and user-friendly web and mobile applications that enhance your digital presence and engage your target audience.</li>
                        <li>Cloud Solutions: We help businesses transition to the cloud, enabling them to access scalable, secure, and cost-effective infrastructure and applications that can drive flexibility and innovation.</li>
                        <li>IT Consulting: Our experienced consultants provide strategic guidance and expert advice to help you make informed technology decisions, optimize your IT infrastructure, and achieve your business objectives.</li>
                        <li>Cybersecurity: We understand the criticality of safeguarding your digital assets. Our cybersecurity experts implement robust measures to protect your systems, networks, and data from evolving threats.</li>
                        <li>IT Support and Maintenance: Our dedicated support team is available round the clock to provide prompt assistance, resolve issues, and ensure the smooth operation of your IT environment.</li>
                    </ul>
                                     
                </p>
                <h6 style="color: rgb(0, 0, 0);">Why Choose Us:</h6>
                <p class="text-body" style="text-align:justify;">
                    <ul style="text-align: justify;">
                        <li>Industry Expertise: With years of experience across diverse sectors, we have gained valuable insights and domain-specific knowledge that allows us to deliver tailored solutions.</li>
                        <li>Client-Centric Approach: We prioritize understanding your unique challenges and goals, ensuring that our solutions align with your business objectives.</li>
                        <li>Skilled Team: Our team comprises highly skilled professionals who are passionate about technology and possess the expertise to deliver successful outcomes.</li>
                        <li>Proven Track Record: We have a track record of successfully executing projects of varying complexities, earning the trust and satisfaction of our clients.</li>
                    </ul>
                    We invite you to explore our website and learn more about our services. 
                    Contact us today to discover how TechMate can empower your business with innovative IT solutions. <br><br>
                    Together, let's embrace the future of technology and unlock the full potential of your business!
                                     
                </p>
                

            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>

<hr>
<section id="sectionlast">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-3 col-md-3">
          <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Quick links</h5>
          <ul>
            <li style="color: rgb(0, 0, 0);"><a href="/" style="color: rgb(0, 0, 0);text-decoration: none;">Home</a></li>
            <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;">About Us</a></li>
            <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;">Contact Us</a></li>
            <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;">Services</a></li>
            <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;">Blogs</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3">
          <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Contact</h5>
          <ul>
            <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-geo m-2"></i>Kochi,Kerala</a></li>
            <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-telephone m-2"></i>0481-0772255</a></li>
            <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-instagram m-2"></i><i class="bi bi-facebook m-2"></i><i class="bi bi-twitter m-2"></i><i class="bi bi-linkedin m-2"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3">
          <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Connect with Us</h5>
         
          <p style="color: rgb(0, 0, 0);"><p style="color: rgb(0, 0, 0);text-decoration: none;">Subscribe our email for <br>more updates </p></p>
          <p style="color: rgb(0, 0, 0);">
            <nav class="navbar">
              <div class="container-fluid" style="background: transparent;">
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" style="color: blueviolet;border: solid 1px;" placeholder="Email" aria-label="Search">
                  <button class="btn sp" type="button" style="color: blueviolet; border: solid 1px;">Subscribe</button>
                </form>
              </div>
              
            </nav>
          </p>
                 
          
        </div>
        <div class="col-lg-1 col-md-1"></div>
      </div>
    </div>
  
  
    <div class="card-footer" style="height: 45px; background-color: rgb(245, 245, 245);">
      <p class="text-center" style="color: blueviolet;"><i class="fa fa-copyright"></i>TechMate.com | All rights reserved | techmate@gmail.com</p>
    </div>
  
</section> 
  
  
<style>

  .card1{
    transition: box-shadow 0.3s ease-in-out;
  }
    
  .card1:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        
  }
    
  button.sp{
    transition: box-shadow 0.3s ease-in-out;
  }
    
    
  button.sp:hover{
    transform: scale(1.05);
        
        
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
  }
  div.box img{
    opacity: .7;
  }
    
  div.box img:hover{
    opacity: 1;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5); 
  }
        
</style>
 
  
  
  
  



{% endblock %}