{% extends 'navbar.html' %}

{% load static %}

{% block title %}
TechMate-Apply Job
{% endblock %}


{% block body %}

<section>
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="row mt-3">
                    <div class="col-lg-8">
                        <h3 class="mt-4" style="color:rgb(255, 179, 0);">Python Developer</h3>
                        <p class="d-inline-block mt-3" style="color: rgb(123, 123, 123);">Posted on: 2 June,2023 |</p>
                        <p class="d-inline-block" style="color: rgb(123, 123, 123);">Exp: 0-2 Years</p>
                        <p style="color: rgb(123, 123, 123);">10+ Openings</p>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="row  mt-4">
                            <a href=""><button class="btn sp" type="button" style="color:rgb(255, 179, 0); border: solid 1px;" >Apply</button></a>

                        </div>

                    </div>
                </div>
                <hr>
            </div>
            
            <div class="col-lg-2"></div>
        </div>
        <div class="row ms-2">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="row">
                    <h5>Key Responsibilities</h5>
                    <p style="text-align: justify;">
                        <ul  style="text-align: justify;">
                            <li>Develop and maintain web applications using Django/FastAPI.</li>
                            <li>Write clean, efficient, and well-documented code.</li>
                            <li>Implement database solutions using SQL and no-SQL.</li>
                            <li>Work with data structures and algorithms to solve complex problems.</li>
                            <li>Collaborate with cross-functional teams to define, design, and ship new features.</li>
                            <li>Participate in code reviews and contribute to the improvement of software development processes.</li>
                        </ul>
                    </p>
                </div>
                <div class="row">
                    <h5>Qualification / Requirement</h5>
                    <p style="text-align: justify;">
                        <ul  style="text-align: justify;">
                            <li>Desired Candidate Profile: B.Tech / B.E. / MCA / BCA</li>
                            <li>Strong experience with Django or FastAPI.</li>
                            <li>Strong understanding of SQL and No-SQL.</li>
                            <li>Experience with version control tools.</li>
                            <li>Strong knowledge of data structures and algorithms.</li>
                            <li>Good problem-solving and analytical skills.</li>
                            <li>Good communication and interpersonal skills.</li>
                            <li>Understanding of agile software development methodologies.</li>
                            <li>Bachelor’s degree in Computer Science or related field.</li>
                        </ul>
                    </p>
                </div>
                <div class="row mb-5">

                    <a href="">
                        <button class="btn sp d-inline-block" type="button" style="color:rgb(255, 179, 0); border: solid 1px;" >Apply</button>
                    </a>
                    
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>


<hr class="mt-5">
<section id="sectionlast">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2"></div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Quick links</h5>
        <ul>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'home' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Home</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'aboutus' %}" style="color: rgb(0, 0, 0);text-decoration: none;">About Us</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'contactus' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Contact Us</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'services' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Services</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'gallery' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Gallery</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Contact</h5>
        <p style="color: rgb(0, 0, 0);">
          <p style="color: rgb(0, 0, 0);text-decoration: none;">
            1st Floor - Thapasya Building <br>
            Kakkanad, Cochin <br>
            Phone: +91 974 663 2202  <br>
            Email: Info@Altostechnologies.In
          </p>
        </p>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Connect with Us</h5>
       
        <p style="color: rgb(0, 0, 0);"><p style="color: rgb(0, 0, 0);text-decoration: none;">Subscribe our email for <br>more updates </p></p>
        <p style="color: rgb(0, 0, 0);">
          <nav class="navbar">
            <div class="container-fluid" style="background: transparent;">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" style="color:rgb(255, 179, 0);border: solid 1px;" placeholder="Email" aria-label="Search">
                <button class="btn sp" type="button" style="color:rgb(255, 179, 0); border: solid 1px;">Subscribe</button>
              </form>
            </div>
            
          </nav>
        </p>
               
        
      </div>
      <div class="col-lg-1 col-md-1"></div>
    </div>
  </div>


  <div class="card-footer" style="height: 45px; background-color: rgb(245, 245, 245);">
    <p class="text-center" style="color:rgb(255, 179, 0);"><i class="fa fa-copyright"></i>TechMate.com | All rights reserved | techmate@gmail.com</p>
  </div>

</section>

<style>

    .card1{
      transition: box-shadow 0.3s ease-in-out;
    }
      
    .card1:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          
    }
      
    button.sp{
      transition: box-shadow 0.3s ease-in-out;
    }
      
      
    button.sp:hover{
      transform: scale(1.05);
          
          
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      
    }
    div.box img{
      opacity: .7;
    }
      
    div.box img:hover{
      opacity: 1;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3); 
    }
          
</style>






{% endblock %}