{% extends 'navbar.html' %}

{% load static %}

{% block title %}
Contact Us
{% endblock %}


{% block body %}

<section>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-12">
                <center><h3 class="header" style="color: blueviolet;">Contact Us</h3></center>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <p class="text-body" style="text-align:justify;">
                    We value your feedback, inquiries, and suggestions. <br> 
                    Feel free to reach out to us using the contact details provided below.
                    Our dedicated team is always ready to assist you.
                </p>
                <h5 style="color: rgb(0, 0, 0);">General Inquiries</h5>
                <p class="text-body" style="text-align:justify;">
                    If you have any general questions or need assistance, please contact us at:
                    <ul style="text-align: justify;">
                        <li><i class="fa fa-mail-bulk" style="color: blueviolet;"></i> : techmate@gmail.com </li>
                        <li><i class="fa fa-phone" style="color: blueviolet;"></i> : 0481-65701856</li>
                    </ul>
                </p>
                <h5 style="color: rgb(0, 0, 0);">Sales and Business Inquiries</h5>
                <p class="text-body" style="text-align:justify;">
                    For sales-related inquiries, partnerships, or business opportunities, please contact our sales team:
                    <ul style="text-align: justify;">
                        <li><i class="fa fa-mail-bulk" style="color: blueviolet;"></i> : techmatesales@gmail.com </li>
                        <li><i class="fa fa-phone" style="color: blueviolet;"></i> : 0481-24589675</li>
                    </ul>
                </p>
                <h5 style="color: rgb(0, 0, 0);">Technical Support</h5>
                <p class="text-body" style="text-align:justify;">
                    If you require technical assistance with any of our products or services, our support team is here to help:
                    <ul style="text-align: justify;">
                        <li><i class="fa fa-mail-bulk" style="color: blueviolet;"></i> : techmatetechnical@gmail.com </li>
                        <li><i class="fa fa-phone" style="color: blueviolet;"></i> : 0481-45665425</li>
                    </ul>
                </p>
                <h5 style="color: rgb(0, 0, 0);">Careers</h5>
                <p class="text-body" style="text-align:justify;">
                    Interested in joining our team? <br>
                    Check out our Careers page for current job openings and opportunities. <br> 
                    You can also send your resume and cover letter to <b style="color: rgb(10, 0, 67);">techmatecareers@gmail.com</b>
                    
                </p>
                <h5 style="color: rgb(0, 0, 0);">Visit Our Office</h5>
                <p class="text-body" style="text-align:justify;">
                    If you prefer to meet us in person or have a business meeting, you can visit our office at: <br><br>
                    123 main street <br>
                    Kochi, Kerala <br>
                    686108 <br>
                    India <br><br>
                    Please note that office visits are by appointment only. Kindly reach out to us beforehand to schedule a meeting.
                    
                </p>

            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
</section>

<hr>
<section id="sectionlast">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-3 col-md-3">
          <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Quick links</h5>
          <ul>
            <li style="color: rgb(0, 0, 0);"><a href="{% url 'home' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Home</a></li>
            <li style="color: rgb(0, 0, 0);"><a href="{% url 'aboutus' %}" style="color: rgb(0, 0, 0);text-decoration: none;">About Us</a></li>
            <li style="color: rgb(0, 0, 0);"><a href="{% url 'contactus' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Contact Us</a></li>
            <li style="color: rgb(0, 0, 0);"><a href="{% url 'services' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Services</a></li>
            <li style="color: rgb(0, 0, 0);"><a href="{% url 'gallery' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Gallery</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3">
          <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Contact</h5>
          <ul>
            <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-geo m-2"></i>Kochi,Kerala</a></li>
            <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-telephone m-2"></i>0481-0772255</a></li>
            <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-instagram m-2"></i><i class="bi bi-facebook m-2"></i><i class="bi bi-twitter m-2"></i><i class="bi bi-linkedin m-2"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3">
          <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Connect with Us</h5>
         
          <p style="color: rgb(0, 0, 0);"><p style="color: rgb(0, 0, 0);text-decoration: none;">Subscribe our email for <br>more updates </p></p>
          <p style="color: rgb(0, 0, 0);">
            <nav class="navbar">
              <div class="container-fluid" style="background: transparent;">
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" style="color: blueviolet;border: solid 1px;" placeholder="Email" aria-label="Search">
                  <button class="btn sp" type="button" style="color: blueviolet; border: solid 1px;">Subscribe</button>
                </form>
              </div>
              
            </nav>
          </p>
                 
          
        </div>
        <div class="col-lg-1 col-md-1"></div>
      </div>
    </div>
  
  
    <div class="card-footer" style="height: 45px; background-color: rgb(245, 245, 245);">
      <p class="text-center" style="color: blueviolet;"><i class="fa fa-copyright"></i>TechMate.com | All rights reserved | techmate@gmail.com</p>
    </div>
  
</section> 
  
  
  
  
  
  
<style>

  .card1{
    transition: box-shadow 0.3s ease-in-out;
  }
    
  .card1:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        
  }
    
  button.sp{
    transition: box-shadow 0.3s ease-in-out;
  }
    
    
  button.sp:hover{
    transform: scale(1.05);
        
        
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
  }
  div.box img{
    opacity: .7;
  }
    
  div.box img:hover{
    opacity: 1;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5); 
  }
        
</style>






{% endblock %}
