{% extends 'navbar.html' %}

{% load static %}

{% block title %}
TechMate-Gallery
{% endblock %}


{% block body %}

<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12">
                <h3 class="text-center" style="color: blueviolet;font-family: 'Acme', sans-serif;">Special moments are even Special in these clicks..!</h3>
                <p class="text-center"><b>Join TechMate and make your Life and Work Equally Special... </b></p>
            </div>
        </div>
        <div class="row row1 mt-5 mb-5">

            <div class="column col-lg-3">
                <img src="{% static 'images/lf1.jpg' %}">
                <img src="{% static 'images/lf2.jpg' %}">
                <img src="{% static 'images/lf3.jpg' %}">
                
            </div>
            <div class="column col-lg-3">
                
                <img src="{% static 'images/lf4.jpg' %}">
                <img src="{% static 'images/lf5.jpg' %}">
                <img src="{% static 'images/lf18.jpg' %}">
            </div>
            <div class="column col-lg-3">
                
                <img src="{% static 'images/lf7.jpg' %}">
                <img src="{% static 'images/lf8.jpg' %}">
                <img src="{% static 'images/lf17.jpg' %}">
            </div>
            <div class="column col-lg-3">
                
                <img src="{% static 'images/lf13.jpg' %}">
                <img src="{% static 'images/lf16.jpg' %}">
                <img src="{% static 'images/lf15.jpg' %}">
            </div>
            
        </div>
    </div>
</section>

<hr class="mt-5">
<section id="sectionlast">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2"></div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Quick links</h5>
        <ul>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'home' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Home</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'aboutus' %}" style="color: rgb(0, 0, 0);text-decoration: none;">About Us</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'contactus' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Contact Us</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'services' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Services</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'gallery' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Gallery</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Contact</h5>
        <ul>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-geo m-2"></i>Kochi,Kerala</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-telephone m-2"></i>0481-0772255</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-instagram m-2"></i><i class="bi bi-facebook m-2"></i><i class="bi bi-twitter m-2"></i><i class="bi bi-linkedin m-2"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Connect with Us</h5>
       
        <p style="color: rgb(0, 0, 0);"><p style="color: rgb(0, 0, 0);text-decoration: none;">Subscribe our email for <br>more updates </p></p>
        <p style="color: rgb(0, 0, 0);">
          <nav class="navbar">
            <div class="container-fluid" style="background: transparent;">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" style="color: blueviolet;border: solid 1px;" placeholder="Email" aria-label="Search">
                <button class="btn sp" type="button" style="color: blueviolet; border: solid 1px;">Subscribe</button>
              </form>
            </div>
            
          </nav>
        </p>
               
        
      </div>
      <div class="col-lg-1 col-md-1"></div>
    </div>
  </div>


  <div class="card-footer" style="height: 45px; background-color: rgb(245, 245, 245);">
    <p class="text-center" style="color: blueviolet;"><i class="fa fa-copyright"></i>TechMate.com | All rights reserved | techmate@gmail.com</p>
  </div>

</section>





<style>
    .row1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  .column img:hover{
    box-shadow:0px 0px 10px rgba(137, 43, 226, 1);
    transform: scale(1.05);
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  </style>

<style>

    .card1{
      transition: box-shadow 0.3s ease-in-out;
    }
      
    .card1:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          
    }
      
    button.sp{
      transition: box-shadow 0.3s ease-in-out;
    }
      
      
    button.sp:hover{
      transform: scale(1.05);
          
          
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      
    }
    div.box img{
      opacity: .7;
    }
      
    div.box img:hover{
      opacity: 1;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5); 
    }
          
</style>

  




{% endblock %}