{% extends 'navbar.html' %}

{% load static %}

{% block title %}
Services
{% endblock %}


{% block body %}

<section>
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-lg-12">
              <center><h3 class="header mt-3 mb-3" style="color:rgb(255, 179, 0);">Our Services</h3></center>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <p class="text-body" style="text-align: justify;">
                    We are a friendly bunch of young dynamic and smart working professionals with such a wide variety of capabilities who work
                    closely with clients to make everything from websites to print materials look professional unified and beautiful. 
                    By combining people, creativity, and technology, we help deliver the most innovative web solutions for businesses. 
                    No matter which service you choose, the idea behind our approach is always the same – to help you simplify the process of getting your dreams into reality.
                </p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card card1 h-100  p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body">
                          <h1 style="color:rgb(255, 179, 0)"><i class="fa fa-code"></i></h1>
                          <h5 class="card-title" style="color: rgb(0, 0, 0);">Web Development</h5>
                          <p class="card-text">Our Web Development services provide valuable insights into your business operations, 
                            helping you make informed decisions and improve performance.
                          </p>
                          <a href="{% url 'servicedetail' %}"><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(255, 179, 0);" >Know more...</button></a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-3 mb-5 bg-body-tertiary rounded">
                          <div class="card-body">
                            <h1 style="color:rgb(255, 179, 0)"><i class="fa fa-mobile-android"></i></h1>
                            <h5 class="card-title" style="color: rgb(0, 0, 0)">Mobile App Development</h5>
                            <p class="card-text">Our Mobile App Development services provide valuable insights into your business operations, 
                                helping you make informed decisions and improve performance.
                            </p>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(255, 179, 0);" >Know more...</button></a>

                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100 p-3 mb-5 bg-body-tertiary rounded">
                          <div class="card-body">
                            <h1 style="color:rgb(255, 179, 0)"><i class="fa fa-cart-shopping"></i></h1>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">Ecommerce Development</h5>
                            <p class="card-text">Our Ecommerce Development services provide valuable insights into your business operations, 
                                helping you make informed decisions and improve performance.
                            </p>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(255, 179, 0);" >Know more...</button></a>

                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100 p-3 mb-5 bg-body-tertiary rounded">
                          <div class="card-body">
                            <h1 style="color: rgb(255, 179, 0)"><i class="fa fa-pencil-ruler"></i></h1>
                            <h5 class="card-title" style="color: rgb(0, 0, 0)">Graphic Designing</h5>
                            <p class="card-text">Our Graphic Designing services provide valuable insights into your business operations, 
                                helping you make informed decisions and improve performance.
                            </p>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(255, 179, 0);" >Know more...</button></a>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-3 mb-5 bg-body-tertiary rounded">
                          <div class="card-body">
                            <h1 style="color:rgb(255, 179, 0)"><i class="fas fa-chart-line"></i></h1>
                            <h5 class="card-title" style="color: rgb(0, 0, 0)">Digital Marketing</h5>
                            <p class="card-text">Our Digital Marketing  services provide valuable insights into your business operations, 
                                helping you make informed decisions and improve performance.
                            </p>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(255, 179, 0);" >Know more...</button></a>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-3 mb-5 bg-body-tertiary rounded">
                          <div class="card-body">
                            <h1 style="color:rgb(255, 179, 0)"><i class="fa fa-magic-wand-sparkles "></i></h1>
                            <h5 class="card-title" style="color: rgb(0, 0, 0)">2D and 3D Animation</h5>
                            <p class="card-text">Our 2D and 3D Animation services provide valuable insights into your business operations, 
                                helping you make informed decisions and improve performance.
                            </p>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(255, 179, 0);" >Know more...</button></a>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-3 mb-5 bg-body-tertiary rounded">
                          <div class="card-body">
                            <h1 style="color:rgb(255, 179, 0)"><i class="fa fa-video-camera "></i></h1>
                            <h5 class="card-title" style="color: rgb(0, 0, 0)">Cloud Solutions</h5>
                            <p class="card-text">Our Cloud Solution services provide valuable insights into your business operations, 
                                helping you make informed decisions and improve performance.
                            </p>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(255, 179, 0);" >Know more...</button></a>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-3 mb-5 bg-body-tertiary rounded">
                          <div class="card-body">
                            <h1 style="color:rgb(255, 179, 0)"><i class="fa fa-search "></i></h1>
                            <h5 class="card-title" style="color: rgb(0, 0, 0)">SEO Optimization</h5>
                            <p class="card-text">Our SEO Optimization services provide valuable insights into your business operations, 
                                helping you make informed decisions and improve performance.
                            </p>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color: rgb(255, 179, 0);" >Know more...</button></a>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-3 mb-5 bg-body-tertiary rounded">
                          <div class="card-body">
                            <h1 style="color:rgb(255, 179, 0)"><i class="fa fa-database"></i></h1>
                            <h5 class="card-title" style="color: rgb(0, 0, 0)">Data Analysis</h5>
                            <p class="card-text">Our data analysis services provide valuable insights into your business operations, 
                                helping you make informed decisions and improve performance.
                            </p>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(255, 179, 0);" >Know more...</button></a>
                          </div>
                        </div>
                    </div>
                    
      
                </div>
                
            </div>
            <div class="col-lg-1"></div>
        </div>
        

    </div>

</section>
<section>
  <div class="container mb-3">
    <div class="row mt-5">
      <div class="col-lg-12">
        <center><h3 class="header mt-3 mb-3" style="color:rgb(255, 179, 0);">What we offers...</h3></center>
      </div>
      
    </div>
    <div class="row mt-3">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <h5 class="text-body text-center"> Tired of being associated with unprofessional and inexperienced companies ?</h5>
        <p class="text-body" style="text-align:justify;">
        
          Well then, you have good reason to be here.
          As a prominent player in web technologies, we provide competitive services
          to reputed businesses across the globe. We have left our signature
          in the web with the excellence that we deliver.
          Our passion towards technology helps us in transforming innovative ideas into assets that add value to the customers. 
          Check out what we offer and be convinced why we should be working together.
        </p>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-4">
            <div class="box">
              <h5 class="m-2" style="color: rgb(0, 0, 0);">New Designs</h5>
              <p class="text-body m-2" style="text-align:justify;">
                Experience creativity! Design is what has fetched us all the reputation.
                Lot of creative thinking goes into the realisation of each work.
                We craft the best and this is the assurance that we give.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box">
              <h5 class="m-2" style="color: rgb(0, 0, 0);">Flexible Payment</h5>
              <p class="text-body m-2" style="text-align:justify;">
                Flexible Payment! Design is what has fetched us all the reputation.
                Lot of creative thinking goes into the realisation of each work.
                We craft the best and this is the assurance that we give.
              </p>
            </div>            
          </div>
          <div class="col-lg-4">
            <div class="box">
              <h5 class="m-2" style="color: rgb(0, 0, 0);">Customer Satisfaction</h5>
              <p class="text-body m-2" style="text-align:justify;">
                Customer Satisfaction! Design is what has fetched us all the reputation.
                Lot of creative thinking goes into the realisation of each work.
                We craft the best and this is the assurance that we give.
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-4">
            <div class="box">
              <h5 class="m-2" style="color: rgb(0, 0, 0);">Transparent</h5>
              <p class="text-body m-2" style="text-align:justify;">
                Transparent! Design is what has fetched us all the reputation.
                Lot of creative thinking goes into the realisation of each work.
                We craft the best and this is the assurance that we give.
              </p>
            </div>            
          </div>
          <div class="col-lg-4">
            <div class="box">
              <h5 class="m-2" style="color: rgb(0, 0, 0);">Assistance</h5>
              <p class="text-body m-2" style="text-align:justify;">
                Assistance! Design is what has fetched us all the reputation.
                Lot of creative thinking goes into the realisation of each work.
                We craft the best and this is the assurance that we give.
              </p>
            </div>    
          </div>
          <div class="col-lg-4">
            <div class="box">
              <h5 class="m-2" style="color: rgb(0, 0, 0);">User Friendly</h5>
              <p class="text-body m-2" style="text-align:justify;">
                User Friendly! Design is what has fetched us all the reputation.
                Lot of creative thinking into the realisation of each work.
                We craft the best and this is the assurance that we give.
              </p>
            </div>   
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>

  </div>
</section>

<hr>
<section id="sectionlast">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2"></div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Quick links</h5>
        <ul>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'home' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Home</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'aboutus' %}" style="color: rgb(0, 0, 0);text-decoration: none;">About Us</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'contactus' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Contact Us</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'services' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Services</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'gallery' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Gallery</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Contact</h5>
        <p style="color: rgb(0, 0, 0);">
          <p style="color: rgb(0, 0, 0);text-decoration: none;">
            1st Floor - Thapasya Building <br>
            Kakkanad, Cochin <br>
            Phone: +91 974 663 2202  <br>
            Email: Info@Altostechnologies.In
          </p>
        </p>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Connect with Us</h5>
       
        <p style="color: rgb(0, 0, 0);"><p style="color: rgb(0, 0, 0);text-decoration: none;">Subscribe our email for <br>more updates </p></p>
        <p style="color: rgb(0, 0, 0);">
          <nav class="navbar">
            <div class="container-fluid" style="background: transparent;">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" style="color:rgb(255, 179, 0);border: solid 1px;" placeholder="Email" aria-label="Search">
                <button class="btn sp" type="button" style="color:rgb(255, 179, 0); border: solid 1px;">Subscribe</button>
              </form>
            </div>
            
          </nav>
        </p>
               
        
      </div>
      <div class="col-lg-1 col-md-1"></div>
    </div>
  </div>


  <div class="card-footer" style="height: 45px; background-color: rgb(245, 245, 245);">
    <p class="text-center" style="color:rgb(255, 179, 0);"><i class="fa fa-copyright"></i>TechMate.com | All rights reserved | techmate@gmail.com</p>
  </div>

</section> 


<style>

  .card1{
    transition: box-shadow 0.3s ease-in-out;
  }
    
  .card1:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        
  }
    
  button.sp{
    transition: box-shadow 0.3s ease-in-out;
  }
    
    
  button.sp:hover{
    transform: scale(1.05);
        
        
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    
  }
  div.box img{
    opacity: .7;
  }
    
  div.box img:hover{
    opacity: 1;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3); 
  }

    
  div.box:hover{
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3); 
  }
        
</style>




  

{% endblock %}